@import 'styles/scaffold';

.Button {
  backface-visibility: hidden;
  background: none;
  border: none;
  border-radius: 3rem;
  color: $secondary;
  cursor: pointer;
  display: inline-block;
  font-size: $font-size-base;
  font-weight: bold;
  padding: 0.75rem 1.25rem;
  text-align: center;
  transition: $transition-base;
  user-select: none;
  vertical-align: middle;

  &:hover {
    transform: translateY(-0.25rem);
  }
}

// Themes
.Button--primary {
  background: $secondary;
  box-shadow: 0 0.75rem 1.25rem -1.25rem $secondary;
  color: $light;

  &:hover {
    background: $primary-dark;
    box-shadow: 0 0.875rem 2.5rem -1.25rem $primary-dark;
    color: $light;
  }
}

.Button--secondary {
  background: rgba($secondary-lighter, 0.2);

  &:hover {
    background: $dark;
    box-shadow: 0 0.875rem 2.5rem -1.25rem $dark;
    color: $light;
  }
}

.Button--icon {
  background: $light;
  box-shadow: 0 0.75rem 1.875rem -1.25rem $dark;
  height: 4rem;
  position: relative;
  width: 4rem;

  @include media-breakpoint-up(md) {
    height: 5rem;
    width: 5rem;
  }

  .Button__icon {
    align-items: center;
    display: flex;
    height: 45%;
    justify-content: center;
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translate(calc(-50% - 0.125rem), -50%);
    width: 45%;

    svg {
      height: auto;
      width: 100%;
    }
  }

  &:hover {
    background: $light;
    box-shadow: 0 0.875rem 2.5rem -1.25rem $primary-dark;
    color: $primary-dark;
    transform: translateY(-0.25rem) scale(1.125);
  }
}

// Sizing
.Button--lg {
  @include media-breakpoint-up(md) {
    font-size: 1.1rem;
    padding: 1rem 1.5rem;
  }

  @include media-breakpoint-up(xl) {
    font-size: 1.25rem;
    padding: 1rem 1.75rem;
  }
}

.Button__label {
  display: inline-block;
  padding-right: 1rem;
}
