@charset "UTF-8";

/**
*   Name: Portfolio 2017 - Main Stylesheet
*   Author: Jamal Ali-Mohammed
*   Author URI: https://jda.io
*/

/*------------------------------------*\
    #VARIABLES-ETC
\*------------------------------------*/

    /*-- Core Colors --*/

    $primary-color: #455C72;
    $secondary-color: #4272CB;
    $light-color: #F6F6F6;
    $gray-color: lighten(#ECF0F1, 5%);

    /*-- Typography --*/

    $fallback-family: Helvetica, Arial, sans-serif, clean;
    $heading-family: 'Posterama 1927', $fallback-family;
    $body-family: 'Proxima Nova Alt Rg', $fallback-family;
    $branding-family: 'Posterama 2001', $heading-family;


/*------------------------------------*\
    #FONT-FACE-IMPORT
\*------------------------------------*/

    /*-- Posterama 2001 --*/
    // Posterama 2001 for the logo type. This is temporary until a proper SVG is made.

    @font-face {
        font-family: 'Posterama 2001';
        src: url('../inc/fonts/hinted-Posterama2001-Bold.eot');
        src: local('Posterama 2001 Bold'), local('Posterama2001-Bold'),
        url('../inc/fonts/hinted-Posterama2001-Bold.eot?#iefix') format('embedded-opentype'),
        url('../inc/fonts/hinted-Posterama2001-Bold.woff2') format('woff2'),
        url('../inc/fonts/hinted-Posterama2001-Bold.ttf') format('truetype');
        font-display: swap;
        font-style: normal;
        font-weight: bold;
    }

    /*-- Posterama 1927 --*/

    @font-face {
        font-family: 'Posterama 1927';
        src: url('../inc/fonts/hinted-Posterama1927-SemiBold.eot');
        src: local('Posterama 1927 SemiBold'), local('Posterama1927-SemiBold'),
        url('../inc/fonts/hinted-Posterama1927-SemiBold.eot?#iefix') format('embedded-opentype'),
        url('../inc/fonts/hinted-Posterama1927-SemiBold.woff2') format('woff2'),
        url('../inc/fonts/hinted-Posterama1927-SemiBold.ttf') format('truetype');
        font-display: swap;
        font-style: normal;
        font-weight: 600;
    }

    @font-face {
        font-family: 'Posterama 1927';
        src: url('../inc/fonts/hinted-Posterama1927-Bold.eot');
        src: local('Posterama 1927 Bold'), local('Posterama1927-Bold'),
        url('../inc/fonts/hinted-Posterama1927-Bold.eot?#iefix') format('embedded-opentype'),
        url('../inc/fonts/hinted-Posterama1927-Bold.woff2') format('woff2'),
        url('../inc/fonts/hinted-Posterama1927-Bold.ttf') format('truetype');
        font-display: swap;
        font-style: normal;
        font-weight: bold;
    }

    /*-- Proxima Nova --*/

    @font-face {
        font-family: 'Proxima Nova Alt Rg';
        src: url('../inc/fonts/hinted-ProximaNovaA-Regular.eot');
        src: local('Proxima Nova Alt Regular'), local('ProximaNovaA-Regular'),
        url('../inc/fonts/hinted-ProximaNovaA-Regular.eot?#iefix') format('embedded-opentype'),
        url('../inc/fonts/hinted-ProximaNovaA-Regular.woff2') format('woff2'),
        url('../inc/fonts/hinted-ProximaNovaA-Regular.ttf') format('truetype');
        font-display: swap;
        font-style: normal;
        font-weight: normal;
    }

    @font-face {
        font-family: 'Proxima Nova Alt Rg';
        src: url('../inc/fonts/hinted-ProximaNovaA-RegularIt.eot');
        src: local('Proxima Nova Alt Regular Italic'), local('ProximaNovaA-RegularIt'),
        url('../inc/fonts/hinted-ProximaNovaA-RegularIt.eot?#iefix') format('embedded-opentype'),
        url('../inc/fonts/hinted-ProximaNovaA-RegularIt.woff2') format('woff2'),
        url('../inc/fonts/hinted-ProximaNovaA-RegularIt.ttf') format('truetype');
        font-display: swap;
        font-style: italic;
        font-weight: normal;
    }

    @font-face {
        font-family: 'Proxima Nova Alt Rg';
        src: url('../inc/fonts/hinted-ProximaNovaA-Bold.eot');
        src: local('Proxima Nova Alt Bold'), local('ProximaNovaA-Bold'),
        url('../inc/fonts/hinted-ProximaNovaA-Bold.eot?#iefix') format('embedded-opentype'),
        url('../inc/fonts/hinted-ProximaNovaA-Bold.woff2') format('woff2'),
        url('../inc/fonts/hinted-ProximaNovaA-Bold.ttf') format('truetype');
        font-display: swap;
        font-style: normal;
        font-weight: bold;
    }

    @font-face {
        font-family: 'Proxima Nova Alt Rg';
        src: url('../inc/fonts/hinted-ProximaNovaA-BoldIt.eot');
        src: local('Proxima Nova Alt Bold Italic'), local('ProximaNovaA-BoldIt'),
        url('../inc/fonts/hinted-ProximaNovaA-BoldIt.eot?#iefix') format('embedded-opentype'),
        url('../inc/fonts/hinted-ProximaNovaA-BoldIt.woff2') format('woff2'),
        url('../inc/fonts/hinted-ProximaNovaA-BoldIt.ttf') format('truetype');
        font-display: swap;
        font-style: italic;
        font-weight: bold;
    }


/*------------------------------------*\
    #BASE-STYLES
\*------------------------------------*/

    html,
    body { background-color: $gray-color; }

    body {
        color: $primary-color;
        font-family: $body-family;
        letter-spacing: -0.4;
        line-height: 1.4;
        text-align: left;
        -webkit-font-smoothing: antialiased;
        -webkit-tap-highlight-color: transparent;
    }

    a {
        &:link,
        &:visited { text-decoration: none; }
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 { font-family: $heading-family; }

    h1 { letter-spacing: -0.48; }


/*------------------------------------*\
    #INDEPENDENT-COMPONENTS
\*------------------------------------*/

    .logo--primary {
        cursor: pointer;
        color: $primary-color;
        font-family: $branding-family;
        font-weight: bold;
        letter-spacing: -0.48;
        line-height: 1;
        margin-bottom: 4rem;
        text-transform: uppercase;
        user-select: none;

        span { color: $secondary-color; }

        a {
            /* There's likely a better way to write the following section,
             * but oh well, w/e this isn't a mission-critical project. :)
             */

            &:link,
            &:link span { transition: color 0.2s ease-in-out; }

            &:link,
            &:visited {
                color: $primary-color;
                text-decoration: none;

                span { color: $secondary-color; }
            }

            &:hover,
            &:focus {
                color: lighten($secondary-color, 5%);

                span { color: lighten($primary-color, 5%); }
            }

            &:active {
                color: $primary-color;

                span { color: $secondary-color; }
            }
        }
    }

    .social-bar { font-size: 2rem; }

        .social-bar__link {
            display: inline-block;

            a {
                &:link,
                &:visited {
                    color: $primary-color;
                    display: block;
                    padding: 0.5rem 0.5rem;
                    transition: all 0.2s ease-in-out;
                }
                &:hover,
                &:focus {
                    color: $secondary-color;
                    transform: scale(1.1);
                }
                &:active { color: $primary-color; }
            }

            &:first-child { margin-left: -0.5rem; }
        }

        .social-bar--footer {
            font-size: 1.5rem;
            margin-top: 2rem;

            a {
                &:link,
                &:visited {
                    border-bottom: 3px solid rgba($primary-color, 0.25);
                    background-color: $primary-color;
                    -webkit-background-clip: text;
                    color: transparent;
                    font-weight: bold;
                    text-decoration: none;
                    padding-bottom: 0.2rem;
                    position: relative;
                    transition: all 0.2s ease-in-out;

                    &::after {
                        background: linear-gradient(60deg, darken($secondary-color, 10%), lighten($secondary-color, 10%));
                        content: '';
                        height: 3px;
                        width: 100%;
                        position: absolute;
                        bottom: -0.2rem;
                        left: 0;
                        opacity: 0;
                        transition: all 0.2s ease-in-out;
                    }
                }

                &:hover,
                &:focus {
                    background-image: linear-gradient(60deg, darken($secondary-color, 10%), lighten($secondary-color, 10%));
                    -webkit-background-clip: text;
                    border-bottom-color: rgba($primary-color, 0);
                    color: transparent;

                    &::after { opacity: 1; }
                }

                &:active {
                    background-image: none;
                    color: lighten($primary-color, 5%);
                    border-bottom-color: $primary-color;

                    &::after { opacity: 0; }
                }
            }

            li {
                margin-bottom: 2rem;
            }
        }

    .text-divider {
        cursor: default;
        color: lighten($primary-color, 30%);
        font-weight: bold;
        padding: 0 0.75rem;
        user-select: none;
    }

/*------------------------------------*\
    #BOOTSTRAP-COMPONENT-CUSTOMIZATIONS
\*------------------------------------*/

    /*-- Typography --*/

    b,
    strong { font-weight: bold; } // For some reason Bootstrap uses "bolder" instead of "bold."

    .lead {
        font-size: 1.5rem;
        letter-spacing: -0.4;
        line-height: 1.8;
    }


/*------------------------------------*\
    #HEADER
\*------------------------------------*/

    .header { padding: 2rem 1rem; }

        .header--primary { margin-bottom: 2rem; }

        .header__intro { margin-bottom: 2rem; }


/*------------------------------------*\
    #FOOTER
\*------------------------------------*/

    .footer { padding: 2rem 1rem; }

        .footer--primary {
            margin-bottom: 2rem;
        }

        .footer__credits {
            margin: 5rem auto 1rem;
            text-align: center;

            .logo-mark {
                width: 3rem;
                height: auto;
                margin-bottom: 2rem;
            }
        }


/*------------------------------------*\
    #MAIN-CONTENT
\*------------------------------------*/

    /*-- Project Gallery --*/

    .project-tiles { margin-bottom: 4rem; }

        .project-tiles__container {
            padding-left: 0.9375rem;
            padding-right: 0.9375rem;

            .left-column,
            .right-column { margin-bottom: 0; }
        }

        /* Taking a break here to create some variables for the height of the tiles.
         * This is honestly just a quick fix until I find a better way to to this (just lazy coding tbh).
         * These are used in the #MEDIA-QUERIES section, but specified here for reference (could be better in #VARIABLES).
         */

        $project-tiles__tile-height: 312px;
        $project-tiles__tile-height-sm: 312px;
        $project-tiles__tile-height-md: 360px;
        $project-tiles__tile-height-lg: 416px;
        $project-tiles__tile-height-xl: 416px;

        .project-tiles__tile {
            background: linear-gradient(60deg, lighten($primary-color, 25%), darken($primary-color, 15%));
            color: $light-color;
            display: block;
            height: $project-tiles__tile-height;
            width: 100%;
            margin: 0;
            position: relative;

            &:hover,
            &:focus {
                .project-tiles__meta {
                    ul {
                        transform: translate(0%, -30%);
                        opacity: 0;
                    }

                    .project-tiles__meta__link {
                        opacity: 1;
                        transform: translate(0%, 0%);
                    }
                }

                .project-tiles__backdrop {
                    .overlay--dark { opacity: 0; }
                    .overlay--project { opacity: 0.8; }
                    .backdrop-image { transform: scale(1); }
                }
            }
        }

            .project-tiles__tile--tall { height: calc(#{$project-tiles__tile-height} * 1.25); }

            .project-tiles__project-link {
                display: block;
                height: 100%;
                width: 100%;
                position: absolute;
                top: 0;
                left: 0;
                z-index: 15;
                text-indent: -9999px;
            }

            .project-tiles__content {
                padding: 1.5rem;
                position: absolute;
                top: 0;
                left: 0;
                z-index: 10;

                .project-client {
                    display: block;
                    margin-bottom: 1rem;
                }

                .project-title {
                    font-family: $heading-family;
                    font-size: 2rem;
                    font-weight: bold;
                    letter-spacing: -0.5;
                    line-height: 1.25;
                }

                .project-desc { display: none; }
            }

            .project-tiles__meta {
                ul {
                    position: absolute;
                    bottom: 1.5rem;
                    left: 1.5rem;
                    z-index: 5;
                    transform: translate(0%, 0%);
                    transition: all 0.5s ease-out;

                    li {
                        display: inline-block;
                        margin-right: 1.5rem;
                        margin-top: 0.5rem;

                        &:last-child { margin-right: 0; }
                    }
                }

                .project-tiles__meta__link {
                    border-bottom: 1px solid $light-color;
                    padding-bottom: .25rem;
                    position: absolute;
                    bottom: 1.75rem;
                    left: 1.5rem;
                    z-index: 4;
                    opacity: 0;
                    transform: translate(0%, 30%);
                    transition: all 0.5s ease-out;
                    text-decoration: none;

                    .fa { vertical-align: middle; }
                }
            }

            .project-tiles__backdrop {
                height: 100%;
                width: 100%;
                position: relative;

                .overlay {
                    display: block;
                    height: 100%;
                    width: 100%;
                    position: absolute;
                    transition: opacity 0.2s ease-in-out;
                }

                .overlay--dark {
                    background: linear-gradient(135deg, darken($primary-color, 25%), rgba(lighten($primary-color, 15%), 0));
                    opacity: 0.6;
                    z-index: 3;
                }

                .overlay--project {
                    opacity: 0;
                    z-index: 2;
                }

                .backdrop-image {
                    background-position: center;
                    background-repeat: no-repeat;
                    background-size: cover;
                    display: block;
                    height: 100%;
                    width: 100%;
                    position: relative;
                    z-index: 1;
                    transform: scale(1);
                    transition: all 0.2s ease-in-out;
                }

                /* Old CSS. This will be reinstated when I switch to using CloudFront + PHP for dynamically resized images.
                    .backdrop-image {
                        display: block;
                        height: 100%;
                        width: 100%;
                        position: relative;
                        z-index: 1;
                        overflow: hidden;

                        img {
                            position: absolute;
                            top: 50%;
                            left: 50%;
                            width: 100%;
                            height: auto;
                            transition: all 0.2s ease-in-out;
                            transform: translate(-50%, -50%) scale(1);
                        }
                    }
                */
            }

    /*-- Content Section Formatting --*/

    .content {
        a {
            &:link,
            &:visited {
                border-bottom: 2px solid rgba($primary-color, 0.25);
                background-color: $primary-color;
                -webkit-background-clip: text;
                color: transparent;
                font-weight: bold;
                text-decoration: none;
                padding-bottom: 0rem;
                position: relative;
                transition: all 0.2s ease-in-out;

                &::after {
                    background: linear-gradient(60deg, darken($secondary-color, 10%), lighten($secondary-color, 10%));
                    content: '';
                    height: 2px;
                    width: 100%;
                    position: absolute;
                    bottom: -.125rem;
                    left: 0;
                    opacity: 0;
                    transition: all 0.2s ease-in-out;
                }
            }

            &:hover,
            &:focus {
                background-image: linear-gradient(60deg, darken($secondary-color, 10%), lighten($secondary-color, 10%));
                -webkit-background-clip: text;
                border-bottom-color: rgba($primary-color, 0);
                color: transparent;

                &::after { opacity: 1; }
            }

            &:active {
                background-image: none;
                color: lighten($primary-color, 5%);
                border-bottom-color: $primary-color;

                &::after { opacity: 0; }
            }
        }

        p,
        dl { line-height: 1.6rem; }
    }

    /*-- Bio Section --*/

    .human-bio { padding: 3rem 1rem; }

        .human-bio__profile-breakdown {
            dt {
                font-weight: bold;
                margin-bottom: 1rem;
            }
            dd { margin-bottom: 2rem; }
        }


/*------------------------------------*\
    #MEDIA-QUERIES
\*------------------------------------*/

    @media (min-width: 510px) {
        .social-bar { margin: 2rem 0; }
    }

    @media (min-width: 570px) {
        .project-tiles__container {
            padding-left: 0;
            padding-right: 0;
        }
    }

    @media (min-width: 768px) {
        .header { padding: 4rem 2rem; }
        .project-tiles,
        .footer {
            padding-left: 2rem;
            padding-right: 2rem;
        }
        .project-tiles__tile {
            height: $project-tiles__tile-height-md;

            &:hover,
            &:focus {
                .project-tiles__content .project-desc {
                    transform: translate(0%, 0%);
                    opacity: 0.8;
                }
            }
        }
        .project-tiles__tile--tall { height: calc(#{$project-tiles__tile-height-md} * 1.25); }
        .project-tiles__content {
            padding: 3rem;

            .project-client { font-size: 1.25rem;}
        }
        .project-tiles__content .project-desc {
            display: block;
            font-size: 1.5rem;
            margin-top: 1.5rem;
            opacity: 0;
            transform: translate(-3%, 0%);
            transition: all 0.5s ease-in-out;
        }
        .project-tiles__meta {
            ul,
            .project-tiles__meta__link {
                font-size: 1.25rem;
                padding-bottom: .25rem;
                bottom: 3.25rem;
                left: 3rem;
            }
        }
        .social-bar--footer {
            li {
                display: inline-block;
                margin-right: 2rem;
                margin-bottom: 2rem;

                &:last-child { margin-right: 0; }
            }
        }
        .human-bio { padding: 4rem 2rem; }
        .footer__credits {
            margin: 5rem auto 2rem;
        }
    }

    @media (min-width: 992px) {
        .header { padding: 6rem 3rem 4rem; }
        .project-tiles,
        .footer {
            padding-left: 3rem;
            padding-right: 3rem;
        }
        .project-tiles__tile { height: $project-tiles__tile-height-lg; }
        .project-tiles__tile--tall { height: calc(#{$project-tiles__tile-height-lg} * 1.25); }
        .human-bio { padding: 5rem 3rem; }
        .human-bio__profile-breakdown {
            dt {
                float: left;
            }
            dd {
                margin-left: 6rem;
                margin-bottom: 2rem;

                &::after {
                    display: block;
                    clear: left;
                    content: '';
                }
            }
        }
    }

    @media (min-width: 1200px) {
        .project-tiles__tile { height: $project-tiles__tile-height-xl; }
        .project-tiles__tile--tall { height: calc(#{$project-tiles__tile-height-xl} * 1.25); }
    }