/*------------------------------------*\
    #HEADER
\*------------------------------------*/

/*-- Base --*/

.global-header {
    @include z-index(10);
    animation: fadeIn 1s cubic-bezier(0.39, 0.575, 0.565, 1) 0.25s;
    animation-fill-mode: forwards;
    left: 0;
    opacity: 0;
    position: absolute;
    top: 2.5rem;
    width: 100%;

    @include bp(lg) {
        top: 3rem;
    }

    @keyframes fadeIn {
        from {
            opacity: 0;
        }

        to {
            opacity: 1;
        }
    }
}

.global-header___dark {
    .path-accent {
        fill: $color-secondary;
    }

    .path-main {
        fill: $color-primary;
    }
}

.global-header___light {
    .global-header__logo {
        .path-accent {
            fill: $color-secondary;
        }

        .path-main {
            fill: $color-light;
        }
    }
}

.global-header__inner {
    display: flex;
    justify-content: space-between;
}

/*-- Logo --*/

.global-header__logo {
    align-items: center;
    display: flex;
    padding-top: 0.5rem;
    user-select: none;

    @include bp(md) {
        padding-top: 0.25rem;
    }

    & > img,
    & > svg {
        height: auto;
        width: 5rem;

        @include bp(md) {
            width: 5.5rem;
        }

        @include bp(lg) {
            width: 6rem;
        }
    }
}

/*-- Navigation --*/

.global-header__nav {
    user-select: none;

    .nav-list {
        display: flex;
        justify-content: flex-end;
        list-style: none;
        margin: 0;
        padding: 0;
    }

    .nav-item {
        margin-right: 0.5rem;

        @include bp(md) {
            margin-right: 0.75rem;
        }

        &:last-child {
            margin-right: 0;
        }
    }

    .nav-link {
        @include transition(background color transform);
        align-items: center;
        background: $color-black;
        border-radius: 50%;
        color: $color-light;
        display: flex;
        justify-content: center;
        padding: 0.75rem;
        transform: scale(0.9);

        @include bp(md) {
            padding: 1rem;
        }

        &:hover,
        &:focus {
            background: $color-secondary-light;
            color: $color-light;
            transform: scale(1);

            .nav-link__icon {
                fill: currentColor;
            }
        }

        &:active {
            background: $color-secondary-dark;
            transform: scale(0.95);
        }
    }

    .nav-link__icon {
        fill: $color-light;
        height: auto;
        width: 1.75rem;
    }
}
