@import 'styles/scaffold';

.Content__image {
  border-radius: 1rem;
  display: block;
  height: auto;
  margin-bottom: 2rem;
  overflow: hidden;
  width: 100%;

  img {
    height: auto;
    width: 100%;
  }
}
