@import 'styles/scaffold';

.Card {
  border-radius: 1rem;
  cursor: pointer;
  overflow: hidden;
  position: relative;
  width: 100%;

  &:hover {
    .Card__overlay {
      opacity: 0.6;
    }

    .Card__main {
      background: $light;
      box-shadow: 0 0.875rem 2.5rem -1.25rem rgba($primary-dark, 0.75);
    }

    .Card__title {
      color: $primary-dark;
    }

    .Card__date {
      background: $primary-dark;
    }
  }
}

.Card__link {
  height: 100%;
  position: absolute;
  text-indent: -999vw;
  width: 100%;
  z-index: 5;
}

.Card__cover {
  border-radius: 1rem;
  overflow: hidden;
  position: relative;
  width: 100%;
}

.Card__image {
  backface-visibility: hidden;
  height: auto;
  max-width: 100%;
  transition: $transition-base;
}

.Card__overlay {
  background: $gradient-primary;
  height: 100%;
  left: 0;
  opacity: 0;
  position: absolute;
  top: 0;
  transition: $transition-base;
  width: 100%;
  z-index: 1;
}

.Card__main {
  background: rgba($dark, 0.6);
  backdrop-filter: blur(0.5rem);
  /* stylelint-disable property-no-vendor-prefix */
  -webkit-backdrop-filter: blur(0.5rem);
  /* stylelint-enable property-no-vendor-prefix */
  border-radius: 1rem;
  bottom: 1.25rem;
  left: 1.25rem;
  overflow: hidden;
  padding: 1rem 1.25rem;
  position: absolute;
  transition: $transition-base;
  width: calc(100% - 2.5rem);
  z-index: 1;

  @include media-breakpoint-up(md) {
    bottom: 2rem;
    left: 2rem;
    padding: 1.5rem;
    width: calc(100% - 4rem);
  }
}

.Card__header {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;

  @include media-breakpoint-up(sm) {
    flex-wrap: nowrap;
  }

  @include media-breakpoint-up(lg) {
    flex-wrap: wrap;
  }

  @include media-breakpoint-up(xl) {
    flex-wrap: nowrap;
  }
}

.Card__title {
  color: $light;
  font-weight: bold;
  margin: 0 0 0.5rem 0;
  transition: $transition-base;
  width: 100%;

  @include media-breakpoint-up(sm) {
    margin: 0 3rem 0 0;
    width: auto;
  }

  @include media-breakpoint-up(lg) {
    margin: 0 0 0.75rem 0;
    width: 100%;
  }

  @include media-breakpoint-up(xl) {
    margin: 0 3rem 0 0;
    width: auto;
  }
}

.Card__date {
  background: rgba($secondary, 0.25);
  border-radius: 0.5rem;
  color: $light;
  font-size: $font-size-sm;
  font-weight: normal;
  padding: 0.25rem 0.75rem;
  transition: $transition-base;
}

.Card__body {
  color: $secondary;
  display: none;
  font-weight: $font-weight-light;
  height: 0;
  opacity: 0;

  @include media-breakpoint-up(sm) {
    display: block;
    font-size: 1.125rem;
  }

  @include media-breakpoint-up(lg) {
    display: none;
  }

  @include media-breakpoint-up(xl) {
    display: block;
  }

  & > p {
    &:first-child {
      padding-top: 1rem;
    }
  }
}
