/*------------------------------------*\
    #BANNER
\*------------------------------------*/

/*-- Base --*/

.banner {
    display: block;
    position: relative;
    width: 100%;
}

/*-- Banner > Header Style --*/

.banner___header {
    @include z-index(1);
    align-items: center;
    color: $color-primary-alt;
    display: flex;
    min-height: 105vh;
    padding: calc(8rem + 4.125rem) 0 12rem;
    position: relative;

    @include bp(sm) {
        padding-top: calc(7rem + 4.125rem);
    }

    @include bp(lg) {
        padding: calc(6rem + 4.625rem) 0 12rem;
    }

    &::after {
        @include z-index(-1);
        background: linear-gradient(
            120deg,
            $color-dark 40%,
            $color-dark-alt 100%
        );
        content: '';
        height: 100%;
        left: 0;
        opacity: 1;
        position: absolute;
        top: 0;
        width: 100%;
    }

    .banner__title,
    .banner__desc,
    .banner__link {
        animation: fadeInUp 1s cubic-bezier(0.23, 1, 0.32, 1) 0.75s;
        animation-fill-mode: forwards;
        opacity: 0;

        @keyframes fadeInUp {
            from {
                opacity: 0;
                transform: translateY(1.5rem);
            }

            to {
                opacity: 1;
                transform: translateY(0);
            }
        }
    }
}

/*-- Banner > w/ Image Style --*/

.banner___has-image {
    &::after {
        opacity: 0.95;
    }

    .banner__backdrop-container {
        display: block;
    }
}

/*-- Banner > Backdrop --*/

.banner__backdrop-container {
    @include z-index(-2);
    display: none;
    height: 100%;
    left: 0;
    overflow: hidden;
    position: absolute;
    top: 0;
    width: 100%;
}

.banner__backdrop {
    bottom: 0;
    height: 100%;
    left: 0;
    object-fit: cover;
    position: absolute;
    right: 0;
    top: 0;
    width: 100%;
}

/*-- Banner > Content --*/

/*-- Banner > Content > Title --*/

.banner__title {
    color: $color-light;
    display: block;
    font-family: $font-family-heading;
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 0.5rem;

    @include bp(sm) {
        font-size: 2.5rem;
    }

    @include bp(md) {
        font-size: 3.25rem;
    }

    @include bp(lg) {
        font-size: 3.5rem;
    }
}

// Non-animated Title Text
.banner__title-static-text {
    display: inline-block;
    margin-right: 0.75rem;

    @include bp(sm) {
        margin-right: 1rem;
    }

    @include bp(md) {
        margin-right: 1.25rem;
    }

    @include bp(lg) {
        margin-right: 1.5rem;
    }

    @media screen and (-ms-high-contrast: none) {
        width: auto;
    }
}

// Animated Title Text
.banner__title-mark-text {
    display: inline-block;
    padding-left: 1.75rem;
    position: relative;

    @include bp(sm) {
        padding-left: 2.25rem;
    }

    @include bp(md) {
        padding-left: 2.75rem;
    }

    @include bp(md) {
        padding-left: 3.25rem;
    }

    &::before {
        @include z-index(1);
        animation: rotateMark 20s linear infinite;
        background: url('../../assets/images/icons/times.svg') center center
            no-repeat;
        background-size: 100%;
        content: '';
        height: 1rem;
        left: 0;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        width: 1rem;

        @include bp(sm) {
            height: 1.25rem;
            width: 1.25rem;
        }

        @include bp(md) {
            height: 1.5rem;
            width: 1.5rem;
        }

        @include bp(lg) {
            height: 1.75rem;
            width: 1.75rem;
        }
    }

    @media screen and (-ms-high-contrast: none) {
        width: auto;
    }

    @keyframes rotateMark {
        0% {
            transform: translateY(-50%) rotate(0deg);
        }

        100% {
            transform: translateY(-50%) rotate(360deg);
        }
    }
}

/*-- Banner > Content > Description & Link --*/

.banner__desc,
.banner__link {
    font-size: 1.1rem;
    line-height: 1.5;

    @include bp(sm) {
        font-size: 1.2rem;
    }

    @include bp(md) {
        font-size: 1.5rem;
    }
}

.banner__desc {
    color: $color-primary-alt;
    margin-bottom: 1.5rem;
    max-width: 22rem;
    width: 85%;

    @include bp(sm) {
        max-width: none;
        width: 75%;
    }

    @include bp(md) {
        width: 70%;
    }

    @include bp(lg) {
        width: 60%;
    }

    @include bp(xl) {
        width: 45%;
    }

    &:last-child {
        margin-bottom: 0;
    }
}

.banner__link {
    @include transition(
        border color,
        0.4s,
        cubic-bezier(0.39, 0.575, 0.565, 1)
    );
    border-bottom: 0.125rem solid rgba($color-primary, 0.25);
    color: $color-light;
    display: inline-block;
    font-weight: bold;
    padding: 0;
    position: relative;
    text-decoration: none;

    &:hover,
    &:focus {
        border-color: currentColor;
        color: $color-secondary-light;
    }
}
